.header-bar{
	width: 100%;
	text-align: left;
	box-shadow: 1px 2px 3px #d8d8d8;
	padding: 12px 30px 5px;
	background: #fff;
}
.logo{
  width: 95px;
}
.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer {
    color: #ffffff;
    background-color: #ef9133;
}
.k-pager-wrap {
    color: #f7f7f7;
    background-color: #1f5aa7;
}
.k-grid th, .k-grid td {
    padding: 13px 12px;
}
.k-pager-nav:hover {
    color: #f7f7f7;
    background-color: #ef9133;
    border-radius: 50px;
}
.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: #ffffff;
}
.k-pager-numbers .k-state-selected {
    color: #fff;
    background-color: #ef9133;
}
.k-pager-numbers .k-link {
    color: #f5f5f5;
    border-radius: 50px;
}
.k-grid {
    border-color: rgba(0,0,0,0.08);
    color: #656565;
    background-color: #fff;
    background-clip: padding-box;
    margin: 15px;
    /*box-shadow: 0px 5px 20px 4px #afafaf;*/
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
	padding: 14px 0 0px;
  height: 30px;
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ef9133;
}
.k-pager-wrap .k-pager-sizes .k-dropdown, .k-pager-wrap .k-pager-sizes>select {
  margin: 0 8px 0 0;
  width: 5.2em;
  background: #1e5aa6;
  border-radius: 0 !important;
  color: #fff;
  height: 25px;
  border: 1px solid #ddd;
}
@media screen and (max-width: 768px) {
  .header-bar{
    text-align: center;
    padding: 12px 0 5px;
  }
}